# Python bytecode and caches
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Distribution files
build/
dist/
*.egg-info/

# Environment and config files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/
*.code-workspace

# Logs and coverage
*.log
*.coverage
